@font-face {
  font-family: "vazir";
  src: url("../Font/Vazir.eot") format("eot"),
    url("../Font/Vazir.ttf") format("truetype"),
    url("../Font/Vazir.woff") format("woff2"),
    url("../Font/Vazir.woff2") format("woff");
}

body {
  font-family: Vazir;
  direction: rtl;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

* {
  font-family: Vazir;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  box-shadow: none !important;
}

.section {
  padding: 80px 0;
}

/* header */

header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

nav {
  display: flex !important;
  height: 45px !important;
  align-items: center;
}

nav a {
  font-size: 25px !important;
}

nav ul a {
  font-size: 14px !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ff8f00;
}

nav .brand-logo {
  position: relative !important;
}

.home {
  background: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}

.home .home-content {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.home .home-content h1 {
  /* color: #ff8f00; */
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 7px;
}

.home .home-content p {
  font-size: 30px;
}

.home .scroll-down {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  animation: scrollDown 2s ease infinite;
  -webkit-animation: scrollDown 2s ease infinite;
}

@keyframes scrollDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}

.home .scroll-down img {
  width: 20px;
}

/* about */

.about {
  width: 100%;
}

.about img {
  width: 100%;
}

.about .about-content h4 {
  font-weight: bold;
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 15px;
  font-size: 30px;
}

.about .about-content h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 110px;
  height: 2px;
  right: -5px;
  background-color: #ff8f00;
}

.about .about-content p {
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.about .about-item {
  text-align: center;
  margin-top: 70px;
}

.about button {
  background: #ff8f00;
  border: none;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  padding: 10px 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

/* service */

.service {
  width: 100%;
}

.service h4 {
  margin-bottom: 25px;
  position: relative;
  font-weight: bold;
  font-size: 30px;
}

.service h4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 120px;
  height: 2px;
  background-color: #ff8f00;
}

.service .service-item {
  width: 100%;
  margin-top: 13px;
  position: relative;
  height: 220px;
  overflow: hidden;
}

.service .service-item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.service .service-item img {
  width: 100%;
  height: 220px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.service .service-item span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.service .service-item span p {
  font-size: 17px;
  color: #fff;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.service .service-item:hover span {
  opacity: 0;
}

.service .service-item:hover span p {
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  opacity: 0;
}

/* lightbox */

.lightbox{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox .img-box{
  position: relative;
  width: 900px;
  height: 550px;
  padding: 40px 0;
}

.lightbox .img-box .close{
  position: absolute;
  top: 0;
  right: 0;
}

.lightbox .img-box .close svg{
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.lightbox .img-box .lightbox-img{
  width: 100%;
  height: 100%;
}

.lightbox .img-box .lightbox-caption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.lightbox .img-box .lightbox-control{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  top: 10%;
  bottom: 0;
  align-items: center;
}

.lightbox .img-box .lightbox-control .next{
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  cursor: pointer;
  width: 15%;
  height: 100%;
}

.lightbox .img-box .lightbox-control .perv{
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
  cursor: pointer;
  width: 15%;
  height: 100%;
  justify-content: flex-end;
}

.lightbox .img-box .lightbox-control .next,
.lightbox .img-box .lightbox-control .perv{
  width: 18px;
  height: 30px;
}

.lightbox .img-box .lightbox-control .next:hover,
.lightbox .img-box .lightbox-control .perv:hover{
  background: rgba(0, 0, 0, .5);
  padding:0 3px;
}

/* work */

.work {
  width: 100%;
}

.work h4 {
  margin-bottom: 25px;
  position: relative;
  font-weight: bold;
  font-size: 30px;
}

.work h4::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 140px;
  height: 2px;
  background-color: #ff8f00;
}

.work .work-item {
  position: relative;
  margin-top: 17px;
  height: 220px;
  overflow: hidden;
}

.work .work-item .work-item-inner{
  height: 100%;
}

.work .work-item img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.work .work-item:hover img{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.work .work-item span{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.work .work-item:hover span{
  background-color: rgba(0, 0, 0, 0.8);
}

.work .work-item span svg{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.work .work-item span p{
  position: absolute;
  bottom: 10px;
  right: 160px;
  color: #fff;
  font-size: 17px;
  opacity: 0;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.work .work-item:hover svg, .work .work-item:hover p{
  opacity: 1;
}

.work .work-item:hover p{
  transform: translateX(65px);
  -webkit-transform: translateX(65px);
  -moz-transform: translateX(65px);
  -ms-transform: translateX(65px);
  -o-transform: translateX(65px);
}

/* contact */

.contact{
  width: 100%;
}

.contact .contact-img{
  width: 100%;
  background: url(../images/contact-bg.jpg);
  padding: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contact-img .title h4 {
  margin-bottom: 25px;
  position: relative;
  font-weight: bold;
  font-size: 30px;
}

.contact .contact-img .title h4::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 190px;
  height: 2px;
  background-color: #ff8f00;
}

.contact .contact-desc{
  width: 100%;
  padding: 0 65px;
}

.contact .contact-desc form{
  margin-top: -85px;
  background-color: #fff;
  padding: 35px;
  box-sizing: border-box;
}

.contact .contact-desc input{
  width: 50%;
}

.contact .input-field label{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: -25px;
}

.input-field>label {
  position: relative;
  font-size: 11px;
  right: -80px;
}

.contact .form-btn{
  width: 100%;
  text-align: center;
}

.contact button{
    background: #FF8F00;
    color: #fff;
    padding: 10px 75px;
    border: 2px solid #FF8F00;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.contact button:hover{
    background: transparent;
    color: #000;
    cursor: pointer;
}

.contact .info{
  text-align: center;
}

.contact .info h6{
  color: #777;
  font-size: 15px;
}

.contact .info p{
  color: #999;
  font-size: 12px;
}

.contact .social{
  margin-top: 25px;
}

.contact .social ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .social ul li{
  margin: 0 15px;
}

.contact .social ul li a{
  color: #777;
}

.contact .social ul li svg{
  font-size: 18px;
}

/* footer */

footer{
  border-top: solid 1.5px #999;
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
}

footer .fa-heart{
  color: rgb(151, 3, 3);
}

footer .fa-code{
  color: rgb(0, 4, 255);
}

footer h6{
  font-size: 18px;
}

footer p{
  font-size: 14px;
}